* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --1st-text-color: #3d3d3d;
  --2nd-text-color: #575757;
  --3rd-text-color: #19191b;
  --footer-text-color: #575757;
  --icon-color: var(--2nd-text-color);
  --main-color: #fbd144;
  --secondary-color: #d7d7d7;
  --tertiary-color: #ffffff;
  --body-bg-color: #e9ebec;
  --hover-bg-color: rgba(255, 224, 113, 0.88);
  --radius: 20px;
  --btn-radius: 10px;
}

html.is-dark {
  --1st-text-color: #f1f2f4;
  --2nd-text-color: #a3abb2;
  --3rd-text-color: #a3abb2;
  --footer-text-color: #a3abb2;
  --icon-color: var(--2nd-text-color);
  --main-color: #ffe071;
  --secondary-color: #0c151d;
  --tertiary-color: #171f26;
  --body-bg-color: #0c151d;
}

.ic-github svg,
.ic-twitter svg,
.ic-linkedin svg,
.ic-youtube svg {
  fill: var(--2nd-text-color);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  line-height: 1.2;
  background: var(--body-bg-color);
  transition: 0.3s;
}

main,
footer {
  max-width: 760px;
  display: flex;
  margin: 33px auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  font-weight: 500;
  font-size: 2.2em;
  line-height: 33px;
  color: var(--footer-text-color);
  text-align: center;
  padding: 80px;
  margin-top: 50px;
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

span.theme-switcher {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

span.theme-switcher svg {
  width: 40px;
  height: 40px;
}

span.theme-switcher svg path {
  fill: var(--1st-text-color);
}

.bio {
  display: inline-flex;
  gap: 40px;
  align-items: center;
  margin: 65px auto;
}

.bio .avatar {
  background: white;
  border-radius: 50%;
  border: 4px solid var(--main-color);
  padding: 11px;
}

.bio .avatar img {
  border-radius: 50%;
}

.bio .bio-detail h1 {
  font-weight: 500;
  font-size: 46px;
  line-height: 69px;
  color: var(--1st-text-color);
}

.bio .bio-detail p {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: var(--2nd-text-color);
}

.bio .bio-detail ul {
  margin-top: 12px;
  list-style: none;
  display: inline-flex;
  gap: 26px;
}

.bio .bio-detail ul li a svg path {
  fill: var(--2nd-text-color);
}

.experiences {
  display: inline-flex;
  gap: 90px;
  padding: 20px;
  max-width: 635px;
}

.experiences .experience-item {
  text-align: center;
}

.experiences .experience-item .num {
  font-weight: 500;
  font-size: 2.4em;
  line-height: 36px;
  color: var(--3rd-text-color);
}

.experiences .experience-item .item-detail {
  font-weight: 500;
  font-size: 2.2em;
  line-height: 33px;
  color: var(--2nd-text-color);
}

button {
  all: unset;
  cursor: pointer;
  padding: 24px 0;
  border-radius: var(--btn-radius);
  font-weight: 500;
  font-size: 2.2em;
  line-height: 1;
  text-align: center;
  transition: 0.15s;
}

button:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.11);
}

.button-wrapper {
  display: inline-flex;
  gap: 38px;
  margin-top: 47px;
}

button.download-btn,
button.contact-btn {
  color: var(--1st-text-color);
  display: inline-flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  min-width: 290px;
}

button.download-btn {
  color: #3d3d3d;
  background: var(--main-color);
}

button.contact-btn {
  background: var(--tertiary-color);
}

button.download-btn svg {
  height: 24px;
  width: auto;
}
button.download-btn svg path {
  fill: #3d3d3d;
}

/* Tabs buttons */

section#tab {
  margin-top: 80px;
}

.tabs-button-container {
  background: var(--tertiary-color);
  border-radius: var(--radius);
  padding: 15px 24px;
  display: inline-flex;
  gap: 32px;
  width: 100%;
}

.tabs-button {
  min-width: 351px;
  color: var(--3rd-text-color);
  width: 50%;
}

.tabs-button.active {
  background: var(--secondary-color);
}

.tabs-content-container {
  margin-top: 65px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 32px;
}

.tabs-content-container img {
  border-radius: 15px;
  width: 100%;
}

.tabs-content {
  position: relative;
}

.tabs-content-detail {
  background: var(--hover-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  text-align: center;
  padding: 40px;
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 15px;
}

.tabs-content-detail h3 {
  font-weight: 500;
  font-size: 2.2em;
}
.tabs-content-detail p {
  font-weight: 400;
  font-size: 14px;
}

.tabs-content-detail-link {
  display: block;
  width: 38px;
  height: 38px;
  background: url(res/icon/ic-link.svg) no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}

.tabs-content-detail:hover {
  opacity: 1;
}
